<head>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fas fa-calculator"></i>
            Mutabık
        </div>
    </div>

    <div class="sidebar-menu">
        <a href="/anasayfa" class="menu-item guncel-durum" title="Güncel Durum">
            <i class="fas fa-chart-line"></i>
            <span>Güncel Durum</span>
        </a>

        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="cari-submenu" title="CARİ">
                <i class="fas fa-user-friends"></i>
                <span>CARİ</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div id="cari-submenu" class="submenu">
                <a href="/cari/musteriler" class="submenu-item" title="Müşteriler">
                    <i class="fas fa-users"></i>
                    <span>Müşteriler</span>
                </a>
                <a href="/cari_hesap_ekstresi" class="submenu-item" title="Müşteriler">
                    <i class="fas fa-users"></i>
                    <span>Cari Hesap Ekstresi</span>
                </a>
            </div>
        </div>

        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="stock-submenu" title="STOK">
                <i class="fas fa-boxes"></i>
                <span>STOK</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div class="submenu" id="stock-submenu">
                <a href="/stok/hizmet_urunler" class="submenu-item" title="Hizmet ve Ürünler">
                    <i class="fas fa-tags"></i>
                    <span>Hizmet ve Ürünler</span>
                </a>
                <a href="/stok/depolar" class="submenu-item" title="Depolar">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Depolar</span>
                </a>
                <a href="/stok/depolar_arasi_transfer" class="submenu-item" title="Depolar Arası Transfer">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Depolar Arası Transfer</span>
                </a>
                
                <a href="/stok/fiyat_listeleri" class="submenu-item" title="Fiyat Listeleri">
                    <i class="fas fa-list"></i>
                    <span>Fiyat Listeleri</span>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="expenses-submenu" title="ALIŞLAR">
                <i class="fas fa-arrow-up"></i>
                <span>ALIŞLAR</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div class="submenu" id="expenses-submenu">
                <a href="/alislar/gelen_irsaliyeler" class="submenu-item" title="Gelen İrsaliyeler">
                    <i class="fas fa-truck fa-flip-horizontal"></i>
                    <span>Gelen İrsaliyeler</span>
                </a>
                <a href="/alislar/alislar_raporu" class="submenu-item" title="Alışlar Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Alışlar Raporu</span>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="sales-submenu" title="SATIŞLAR">
                <i class="fas fa-arrow-down"></i>
                <span>SATIŞLAR</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div class="submenu" id="sales-submenu">
                <a href="/stok/giden_irsaliyeler" class="submenu-item" title="Giden İrsaliyeler">
                            <i class="fas fa-truck"></i>
                            <span>Giden İrsaliyeler</span>
                        </a>
                <a href="/satislar/teklifler" class="submenu-item" title="Teklifler">
                    <i class="fas fa-file-alt"></i>
                    <span>Teklifler</span>
                </a>
                <a href="/satislar/faturalar" class="submenu-item" title="Faturalar">
                    <i class="fas fa-file-invoice"></i>
                    <span>Faturalar</span>
                </a>
                <a href="/satislar/satis_rapor" class="submenu-item" title="Satışlar Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Satışlar Raporu</span>
                </a>
                <a href="/satislar/tahsilat_rapor" class="submenu-item" title="Tahsilatlar Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Tahsilatlar Raporu</span>
                </a>
                <a href="/satislar/gelir_gider_raporu/gelir-gider" class="submenu-item" title="Gelir Gider Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Gelir Gider Raporu</span>
                </a>
            </div>
        </div>
    
        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="expenses2-submenu" title="GİDERLER">
                <i class="fas fa-arrow-up"></i>
                <span>GİDERLER</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div class="submenu" id="expenses2-submenu">
                <a href="/giderler/odemeler_raporu" class="submenu-item" title="Ödemeler Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Ödemeler</span>
                </a>
                <a href="/giderler/gider_listesi" class="submenu-item" title="Gider Listesi">
                    <i class="fas fa-file-alt"></i>
                    <span>Gider Listesi</span>
                </a>
                <a href="/giderler/giderler_raporu" class="submenu-item" title="Giderler Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Giderler Raporu</span>
                </a>
                <a href="/giderler/odemeler_raporu" class="submenu-item" title="Ödemeler Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Ödemeler Raporu</span>
                </a>
                <a href="/giderler/kdv-raporu" class="submenu-item" title="KDV Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>KDV Raporu</span>
                </a>
            </div>
        </div>

        <div class="menu-section">
            <div class="menu-item menu-toggle" data-target="cash-submenu" title="FİNANS">
                <i class="fas fa-money-bill-wave"></i>
                <span>FİNANS</span>
                <i class="fas fa-chevron-down toggle-icon"></i>
            </div>
            <div class="submenu" id="cash-submenu">
                <a href="/nakit/kasa_ve_bankalar" class="submenu-item" title="Kasa ve Bankalar">
                    <i class="fas fa-university"></i>
                    <span>Kasa ve Bankalar</span>
                </a>
                <a href="/nakit/cekler" class="submenu-item" title="Çekler">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Çekler</span>
                </a>
                <a href="/nakit/kasa-banka-raporu" class="submenu-item" title="Kasa / Banka Raporu">
                    <i class="fas fa-chart-bar"></i>
                    <span>Kasa / Banka Raporu</span>
                </a>
                <a href="/nakit/nakit_akis_raporu" class="submenu-item" title="Nakit Akışı Raporu">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Nakit Akışı Raporu</span>
                </a>
            </div>
        </div>
    </div>

    <div class="menu-separator"></div>
    <a href="#" class="menu-item" id="sidebar-collapse-btn" title="Menüyü Sakla">
        <i class="fas fa-chevron-left"></i>
        <span>Menüyü Sakla</span>
    </a>
    <div class="menu-section">
        <div class="menu-item menu-toggle" data-target="settings-submenu" title="AYARLAR">
            <i class="fas fa-cog"></i>
            <span>AYARLAR</span>
            <i class="fas fa-chevron-down toggle-icon"></i>
        </div>
        <div class="submenu" id="settings-submenu">
            <a href="/ayarlar/firma-bilgileri" class="submenu-item" title="Firma Bilgileri">Firma Bilgileri</a>
            <a href="/ayarlar/kategori-etiket" class="submenu-item" title="Kategori ve Etiketler">Kategori ve Etiketler</a>
            <a href="/ayarlar/kullanicilar" class="submenu-item" title="Kullanıcılar">Kullanıcılar</a>
            <a href="/ayarlar/yazdirma-sablonlari" class="submenu-item" title="Yazdırma Şablonları">Yazdırma Şablonları</a>
        </div>
    </div>
</div>
